body {
  background: #d0d0d0;
}

#container {
  max-width: 645px;
  margin: 50px auto 50px auto;
  background: white;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 50px 100px 35px 40px;
  border-top:solid 8px #fad312;
}

header {
  margin-bottom: 50px;
}

.header__title {
  font-family: MicrosoftJhengHei;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1.8px;
  margin-bottom: 35px;
}

.header__desc {
  font-family: MicrosoftJhengHei;
  font-size: 14px;
  line-height: 1.8em;
}

.header__notice {
  color: #e74149;
  font-family: MicrosoftJhengHei;
  font-size: 16px;
}

.question {
  margin: 50px 0px;
  
}

.question input {
  margin-top: 15px;
  border: solid 1px #d0d0d0;
  width: 40%;
}

.text, .text__other {
  font-family: MicrosoftJhengHei;
  font-size: 20px;
  display: block;
}

.text::after {
  content: " *";
  color: #e74149;
}

.notice {
  margin-top: 10px;
  color: #e74149;
  position: absolute;
}

.desc {
  font-family: MicrosoftJhengHei;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

button {
  font-family: MicrosoftJhengHei;
  font-size: 15px;
  background: #fad312;
  height: 40px;
  width: 90px;
  margin: 15px 0px;
  border: 0px;
  border-radius: 3px;
}

#imagine, #swipe {
  margin-right: 8px;
  margin-top: 20px;
}

.footer__bottom {
  background: black;
  color: #999999;
  text-align: center;
  font-family: MicrosoftJhengHei;
  font-size: 13px;
  padding: 12px;
}

@media(max-width: 768px) {
  #container {
    flex-direction: column;
    justify-content: space-between;
    margin: 12px 15px;
    padding: 20px 12px;
  }
  .header__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .question input {
    margin-top: 10px;
    width: 60%;
  }
  button {
    margin-top: 0px;
  }
}
