.nvabar {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}

.nvabar .wrapper {
  display: flex;
  height: 84px;
  background: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.nvabar__site_name, .footer__site {
  font-family: Questrial;
  font-size: 36px;
  color: #489846;
}

.nvabar__option {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}


.nvabar__option li {
  margin-left: 10px;
  border-radius: 8px;
  transition: background 0.2s;
}

.nvabar__option li.active, .nvabar__option li:hover {
  background: #ff7286;
}

.nvabar__option li.active a, .nvabar__option li:hover a {
  color: white;
}

.nvabar__option li a {
  text-decoration: none;
  color: black;
  padding: 12px 25px;
  display: block;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
}

.banner {
  height: 450px;
  background: url(img/bg.jpg) center/cover no-repeat;
  position: relative;
}

.banner:after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.banner h1 {
  font-family: MicrosoftJhengHei;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  color: white;
  position: relative;
  z-index: 2;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
}

.section, .section__article {
  text-align: center;
}

.section__title {
  margin: 0;
  font-family: MicrosoftJhengHei;
  font-size: 36px;
  font-weight: bold;
  border-left: solid 15px #a3dea2;
  display: inline-block;
  padding-left: 16px;
  margin: 80px 0px 36px 0px;
}

.section__desc {
  font-size: 16px;
  line-height: 2em;
  margin-bottom: 68px;
}

.button {
  padding: 60px 80px;
  font-family: MicrosoftJhengHei;
  font-size: 36px;
  font-weight: bold;
  color: #3e613d;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s;
}

.button:hover {
  transform: scale(1.1);
}

.btn__order {
  background: #a8e8e1;
}

.btn__query {
  background: #f9f9b5;
  margin-left: 23px
}

.section__images, .section__review {
  display: flex;
}

.section__images div {
  width: 25%;
}

.section__images img {
  width: 100%;
}

.section__review .review {
  width: 33.33%;
}

.section__review .review + .review {
  margin-left: 10px;
}

.review .msg {
  height: 70%;
  box-sizing: border-box;
  background: white;
  text-align: center;
  padding: 90px 20px 0px 20px;
  box-shadow: -1.4px -1.4px 4px 0 var(--light-blue-grey);
  border: solid 1px #c7e5ec;
  border-radius: 5px;
  word-break: break-all;
  letter-spacing: 0.14px;
  font-family: MicrosoftJhengHei;
  font-size: 16px;
}

.review .user {
  height: 20%;
  position: relative;
  z-index: 2;
}

.review .user img {
  border: solid 1px #c1c1c1;
  border-radius: 50%;
}

.review .user p {
  font-family: MicrosoftJhengHei;
  font-size: 16px;
  letter-spacing: 0.14px;
  margin: 0;
}


footer {
  margin-top: 45px;
  border-radius: 5px;
}

.footer__top {
  background: #e8efee;
  padding: 32px;
}

.footer__top .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  margin-right: 16px;
}

.footer__info div + div {
  margin-top: 10px;
}

.footer__bottom {
  background: #35564b;
  padding: 12px;
  text-align: center;
  color: white;
  font-size: 16px;
}

@media(max-width: 768px) {
  .nvabar .wrapper {
    height: 120px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
  }

  .nvabar__site_name {
    margin-top: 10px
  }

  .nvabar__option {
    display: flex;
    width: 100%;
  }

  .nvabar__option li {
    margin-left: 0;
    flex: 1;
    border-radius: 0;
    text-align: center;
  }
  
  .banner {
    height: 250px;
  }

  .banner h1 {
    font-size: 40px;
  }

  .section__title {
   font-size: 24px;
   margin-top: 35px;
  }

  .section__desc {
    font-size: 14px;
    line-height: 2em;
    margin: 0px 0px 38px 0px;
  }

  .button {
    padding: 30px 35px;
    font-size: 18px;
  }

  .section__images, .section__review {
    flex-direction: column;
  }

  .section__images div {
    width: 100%
  }

  .section__article .section__title{
    margin-bottom: 0;
  }

  .section__review .review {
    width: 100%;
  }

  .section__review .review + .review {
    margin-left: 0px;
  }

  .review .msg {
    padding: 90px 20px 30px 20px;
  }

  .review .user {
    transform: translate(0%, 50%);
  }

  .footer__top .wrapper {
    flex-direction: column-reverse;
  }

  .footer__info {
    margin: 16px 0px 0px 0px;
  }
}
